<%= link_to 'New Job Order', new_job_order_path %>

<h1>Listing Job Orders</h1>
 
<table>
  <tr>
    <th>Job ID</th>
    <th>Job Site</th>
    <th>Customer Cell</th>
    <th>Contract Date</th>
    <th>Note</th>
    <th>Price</th>
    <th></th>
  </tr>
 
  <% @job_orders.each do |job_order| %>
    <tr>
      <td><%= job_order.jobid %></td>
      <td><%= job_order.jobsite %></td>
      <td><%= job_order.customerCell %></td>
      <td><%= job_order.contractDate %></td>
      <td><%= job_order.note %></td>
      <td><%= job_order.price %></td>
      <td><%= link_to 'Show', job_order_path(job_order) %></td>
    </tr>
  <% end %>
</table>